In [59]:
import pandas as pd


from copy import copy
from openpyxl import load_workbook
from openpyxl.styles import Border,Side,Alignment,Font,PatternFill
from openpyxl.utils import get_column_letter

border_style = Border(left=Side(border_style="thin",color="FF000000"),
                              right=Side(border_style="thin",color="FF000000"),
                              top=Side(border_style="thin",color="FF000000"),
                              bottom=Side(border_style="thin",color="FF000000"))

alignment_style = Alignment(horizontal='center',vertical="center")
alignment_style_left = Alignment(horizontal='left',vertical="center")
bold_font = Font(bold=True)
yellow_fill = PatternFill(start_color="FFFF00",end_color="FFFF00",fill_type="solid")
green_fill = PatternFill(start_color="00FF00",end_color="00FF00",fill_type="solid")

In [76]:
prev_rar_data = pd.read_excel("attendance.xlsx",sheet_name="RAR FEB 24 ",header=13)

In [77]:
prev_rar_data = prev_rar_data.dropna(subset=["SL NO.","DESCRIPTION"])
prev_rar_data

,SL NO.,DESCRIPTION,QTY,UNIT,RATE,AMOUNT,QTY EXECUTED,QTY PASSED,AMOUNT(Rs.),QTY,AMOUNT(Rs.).1,QTY.1,AMOUNT(Rs.).2,ERP entry,Unnamed: 14,Unnamed: 15
6,1,Minimum wages for Skilled category,298.00,Mandays,695.00,207110.00,298.00,298.00,207110.00,298.00,207110.000,0.00,0.000,0,0,0
7,2,Minimum wages for Semi Skilled category,298.00,Mandays,577.00,171946.00,298.00,298.00,171946.00,298.00,171946.000,0.00,0.000,0,0,0
8,3,Minimum wages for Un Skilled category,364.00,Mandays,494.00,179816.00,364.00,364.00,179816.00,364.00,179816.000,0.00,0.000,0,0,0
9,4,PF + EDLI + PF Admin Charges (Normal Mandays),1290706.12,LS,1.00,1290706.12,323842.54,323842.54,323842.54,274119.50,274119.500,49723.04,49723.040,49723.04,8950.15,58673.19
10,5,ESI,330401.07,LS,1.00,330401.07,81618.57,81618.57,81618.57,68870.98,68870.980,12747.59,12747.590,12747.59,2294.57,15042.16
11,6,NH Wages,108606.78,LS,1.00,108606.78,51549.00,51549.00,51549.00,51549.00,51549.000,0.00,0.000,0,0,0
12,7,Leave Wages,479378.88,LS,1.00,479378.88,67327.00,67327.00,67327.00,67327.00,67327.000,0.00,0.000,0,0,0
13,8,Service charges for Skilled category,5520.00,Mandays,27.49,151744.80,1358.00,1358.00,37331.42,1150.00,31613.500,208.00,5717.920,5717.92,1029.23,6747.15
14,9,Service charges for Semi Skilled category,4968.00,Mandays,23.00,114264.00,1269.00,1269.00,29187.00,1075.50,24736.500,193.50,4450.500,4450.5,801.09,5251.59
15,10,Service charges for Un Skilled category,6624.00,Mandays,19.69,130426.56,1612.00,1612.00,31740.28,1352.50,26630.725,259.50,5109.555,5109.56,919.72,6029.28
16,11,Minimum wages for Skilled category,5222.00,Mandays,709.00,3702398.00,1060.00,1060.00,751540.00,852.00,604068.000,208.00,147472.000,147472,26544.96,174016.96
17,12,Minimum wages for Semi Skilled category,4670.00,Mandays,589.00,2750630.00,971.00,971.00,571919.00,777.50,457947.500,193.50,113971.500,113971.5,20514.87,134486.37
18,13,Minimum wages for Un Skilled category,6260.00,Mandays,504.00,3155040.00,1248.00,1248.00,628992.00,988.50,498204.000,259.50,130788.000,130788,23541.84,154329.84

In [26]:
#rar_data.to_csv("boq.csv",index=False)

In [73]:
boq_db = prev_rar_data.copy()
boq_order_data = boq_db.reset_index(drop=True)
boq_order_data

,SL NO.,DESCRIPTION,QTY,UNIT,RATE,AMOUNT
0,1,Minimum wages for Skilled category,298.00,Mandays,695.00,207110.00
1,2,Minimum wages for Semi Skilled category,298.00,Mandays,577.00,171946.00
2,3,Minimum wages for Un Skilled category,364.00,Mandays,494.00,179816.00
3,4,PF + EDLI + PF Admin Charges (Normal Mandays),1290706.12,LS,1.00,1290706.12
4,5,ESI,330401.07,LS,1.00,330401.07
5,6,NH Wages,108606.78,LS,1.00,108606.78
6,7,Leave Wages,479378.88,LS,1.00,479378.88
7,8,Service charges for Skilled category,5520.00,Mandays,27.49,151744.80
8,9,Service charges for Semi Skilled category,4968.00,Mandays,23.00,114264.00
9,10,Service charges for Un Skilled category,6624.00,Mandays,19.69,130426.56
10,11,Minimum wages for Skilled category,5222.00,Mandays,709.00,3702398.00
11,12,Minimum wages for Semi Skilled category,4670.00,Mandays,589.00,2750630.00
12,13,Minimum wages for Un Skilled category,6260.00,Mandays,504.00,3155040.00

In [90]:
user_entered_qty = [0,0,0,14000,5000,0,0,25,26,24,25,26,24,]
user_entered_qty

[0, 0, 0, 14000, 5000, 0, 0, 25, 26, 24, 25, 26, 24]

In [91]:
boq_order_data[["cum_qty_exce","cum_exec_pass","amount"]] = 0

In [92]:
difference = len(user_entered_qty) - len(prev_rar_data)

if difference == 0:
    prev_qty_passed = prev_rar_data["QTY PASSED"].values
else:
    prev_qty_passed = list(prev_rar_data["QTY PASSED"].values) + [0]*difference

In [93]:
prev_qty_passed

array([2.9800000e+02, 2.9800000e+02, 3.6400000e+02, 3.2384254e+05,
       8.1618570e+04, 5.1549000e+04, 6.7327000e+04, 1.3580000e+03,
       1.2690000e+03, 1.6120000e+03, 1.0600000e+03, 9.7100000e+02,
       1.2480000e+03])

In [98]:
boq_order_data["prev_qty"] = prev_qty_passed
boq_order_data["prev_amount"] = boq_order_data["prev_qty"] * boq_order_data["RATE"]
boq_order_data["present_qty"] = user_entered_qty
boq_order_data["present_amount"] = boq_order_data["present_qty"] * boq_order_data["RATE"]

In [99]:
boq_order_data

,SL NO.,DESCRIPTION,QTY,UNIT,RATE,AMOUNT,cum_qty_exce,cum_exec_pass,amount,prev_qty,prev_amount,present_qty,present_amount
0,1,Minimum wages for Skilled category,298.00,Mandays,695.00,207110.00,0,0,0,298.00,8.880400e+04,0,0.000000e+00
1,2,Minimum wages for Semi Skilled category,298.00,Mandays,577.00,171946.00,0,0,0,298.00,8.880400e+04,0,0.000000e+00
2,3,Minimum wages for Un Skilled category,364.00,Mandays,494.00,179816.00,0,0,0,364.00,1.324960e+05,0,0.000000e+00
3,4,PF + EDLI + PF Admin Charges (Normal Mandays),1290706.12,LS,1.00,1290706.12,0,0,0,323842.54,4.179855e+11,14000,1.806989e+10
4,5,ESI,330401.07,LS,1.00,330401.07,0,0,0,81618.57,2.696686e+10,5000,1.652005e+09
5,6,NH Wages,108606.78,LS,1.00,108606.78,0,0,0,51549.00,5.598571e+09,0,0.000000e+00
6,7,Leave Wages,479378.88,LS,1.00,479378.88,0,0,0,67327.00,3.227514e+10,0,0.000000e+00
7,8,Service charges for Skilled category,5520.00,Mandays,27.49,151744.80,0,0,0,1358.00,7.496160e+06,25,1.380000e+05
8,9,Service charges for Semi Skilled category,4968.00,Mandays,23.00,114264.00,0,0,0,1269.00,6.304392e+06,26,1.291680e+05
9,10,Service charges for Un Skilled category,6624.00,Mandays,19.69,130426.56,0,0,0,1612.00,1.067789e+07,24,1.589760e+05
10,11,Minimum wages for Skilled category,5222.00,Mandays,709.00,3702398.00,0,0,0,1060.00,5.535320e+06,25,1.305500e+05
11,12,Minimum wages for Semi Skilled category,4670.00,Mandays,589.00,2750630.00,0,0,0,971.00,4.534570e+06,26,1.214200e+05
12,13,Minimum wages for Un Skilled category,6260.00,Mandays,504.00,3155040.00,0,0,0,1248.00,7.812480e+06,24,1.502400e+05

In [65]:
rar_workbook = load_workbook("attendance.xlsx")
sheet = rar_workbook["RAR FEB 24 "]
print(rar_workbook.sheetnames)

start_row = 21
start_column = 1  # Assuming you start from column A
sheet.delete_rows(start_row,sheet.max_row)

for index, row in boq_order_data.iterrows():
    for col_num, value in enumerate(row, start=start_column):   
        cell = sheet.cell(row=start_row + index, column=col_num)
        cell.value = value
        cell.alignment = alignment_style_left

for row in sheet.iter_rows(min_row=start_row,min_col=1,max_row=start_row+len(boq_order_data)+3,max_col=13):
    for cell in row:
        cell.border = border_style

for index,value in enumerate(user_entered_qty):
    cell = sheet.cell(row=start_row+index,column=12)
    cell.value= value
    cell.alignment = alignment_style

rar_workbook.save("rar_format.xlsx")

['RAR FEB 24 ', 'Invoice FEB 24', 'PF_ESI', 'ATTENDANCE', 'PaymentStatement FEB 24', 'PR SHEET FEB 24', 'CHECKLIST JAN 24', 'Wage_Calculation', 'Acceptance Report FEB 24']

In [46]:
# wage_calculation processing
import pandas as pd

descriptions = 13

wage_cal_df = pd.read_excel("attendance/attendance_format_2_2024.xlsx",sheet_name="Wage_Calculation",header=6)

mandays = wage_cal_df.loc[:2,"Mandays for PF"].values
pf_edli = wage_cal_df.loc[[8,10],"Total Gross Salary Amount"].sum(axis=0)
esi = wage_cal_df.loc[[9],"Total Gross Salary Amount"].sum(axis=0)
nh_wages = 0
leave_wages = 0

present_rar_qty = [0]*descriptions
if descriptions > 10:
    present_rar_qty[3:10] = [pf_edli,esi,nh_wages,leave_wages] + list(mandays)
    present_rar_qty[-3:] = list(mandays)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [50]:
present_rar_qty

[0, 0, 0, 5505.24, 1488.54, 0, 0, 24.5, 25.5, 26, 24.5, 25.5, 26]