In [5]:
import pandas as pd

from openpyxl import load_workbook

In [14]:
rar_data = pd.read_excel("attendance.xlsx",sheet_name="RAR FEB 24 ",header=13)

In [22]:
boq_data = rar_data.dropna(subset=["SL NO.","DESCRIPTION"]).iloc[:,:6]
boq_data

,SL NO.,DESCRIPTION,QTY,UNIT,RATE,AMOUNT
6,1,Minimum wages for Skilled category,298.00,Mandays,695.00,207110.00
7,2,Minimum wages for Semi Skilled category,298.00,Mandays,577.00,171946.00
8,3,Minimum wages for Un Skilled category,364.00,Mandays,494.00,179816.00
9,4,PF + EDLI + PF Admin Charges (Normal Mandays),1290706.12,LS,1.00,1290706.12
10,5,ESI,330401.07,LS,1.00,330401.07
11,6,NH Wages,108606.78,LS,1.00,108606.78
12,7,Leave Wages,479378.88,LS,1.00,479378.88
13,8,Service charges for Skilled category,5520.00,Mandays,27.49,151744.80
14,9,Service charges for Semi Skilled category,4968.00,Mandays,23.00,114264.00
15,10,Service charges for Un Skilled category,6624.00,Mandays,19.69,130426.56
16,11,Minimum wages for Skilled category,5222.00,Mandays,709.00,3702398.00
17,12,Minimum wages for Semi Skilled category,4670.00,Mandays,589.00,2750630.00
18,13,Minimum wages for Un Skilled category,6260.00,Mandays,504.00,3155040.00

In [24]:
boq_data["CONTRACT_NO"] = "22SNCJO-373"

In [26]:
boq_data.to_csv("boq.csv",index=False)

ModuleNotFoundError: No module named 'data_model_flask_alchemy'

In [ ]:
present_bill_qty = [0,0,0,]

In [8]:
rar_workbook = load_workbook("attendance.xlsx")
print(rar_workbook.sheetnames)

['RAR FEB 24 ', 'Invoice FEB 24', 'PF_ESI', 'ATTENDANCE', 'PaymentStatement FEB 24', 'PR SHEET FEB 24', 'CHECKLIST JAN 24', 'Wage_Calculation', 'Acceptance Report FEB 24']