In [1]:
import pandas as pd
import os

from copy import copy
from openpyxl import load_workbook
from openpyxl.styles import Border,Side,Alignment,Font,PatternFill
from openpyxl.utils import get_column_letter

In [4]:
month,year = 2,2024

prof_tax = 150

wages = pd.DataFrame({"CATEGORY":['SKILLED',"SEMI-SKILLED","UNSKILLED"],"Wage per day":[709,589,504]})

vendor_name = "M/S SPRYSOFT TECHNOLOGIES PRIVATE LIMITED, HYDERABAD."

month_st_dt = pd.Period(f"{year}-{month}").start_time.date().strftime("%d-%m-%Y")
month_end_dt = pd.Period(f"{year}-{month}").end_time.date().strftime("%d-%m-%Y")

month_year = pd.Period(f"{year}-{month}").start_time.date().strftime("%b-%Y")
month_line = f"Due Wage Month:{month_year} from {month_st_dt} to {month_end_dt}"

vendor_name_line = f"Name of Contractor : {vendor_name}"

attendance_path = os.path.join("attendance",f"attendance_format_{month}_{year}.xlsx")

template_path  = "attendance.xlsx"

In [63]:
def wage_calc_preprocessing(attendance_path,wages):
    pf_esi_data = pd.read_excel(attendance_path,sheet_name="PF_ESI",header=3).dropna(subset=["Name"])
    wages["Days Present"] = pf_esi_data.loc[pf_esi_data.Name.str.contains("TOTAL"),"Days Present"].iloc[:-1].values
    wages = wages.reindex(wages.index[::-1]).reset_index(drop=True)
    wages["SL NO"] = [int(val)+1  for val in wages.index]
    wages = pd.concat([wages.iloc[:,-1:],wages.iloc[:,:-1]],axis=1)
    wages["mandays_pf"] = wages["Days Present"]
    wages["total_gross_amount"] = wages["Wage per day"] * wages["Days Present"]
    return wages

In [64]:
wage_calc_preprocessing(attendance_path,wages)

,total_gross_amount,SL NO,CATEGORY,Wage per day,Days Present,mandays_pf
0,17370.5,1,SKILLED,709,24.5,24.5
1,15019.5,2,SEMI-SKILLED,589,25.5,25.5
2,13104.0,3,UNSKILLED,504,26.0,26.0

In [58]:
wages

,SL NO,CATEGORY,Wage per day,Days Present,mandays_pf,total_gross_amount
0,1,UNSKILLED,504,24.5,24.5,12348.0
1,2,SEMI-SKILLED,589,25.5,25.5,15019.5
2,3,SKILLED,709,26.0,26.0,18434.0